﻿<ul class="navbar-nav ml-auto">
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                @User.Identity.Name#@User.FindFirst("urn:discord:discriminator").Value
            </a>
            <ul class="dropdown-menu bg-dark static-backdrop" id="dropdown" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item text-white" href="/guilds">
                        <i class="fas fa-tasks"></i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item" href="/logout">
                        <i class="fas fa-sign-out-alt"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" href="/login">
                Login
                <i class="fas fa-sign-in-alt"></i>
            </a>
        </li>
    }
</ul>
<style>
    .dropdown-item:not(.text-danger) {
        color: #c2c2c2 !important;
    }
    .dropdown-item:hover, .dropdown-item:active, .dropdown-item:focus {
        background: transparent!important;
        color: #ffffff!important;
    }
</style>